<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <%- include('../includes/menu.ejs') %>
            <!-- content -->
            <div class="col-md-9">
                <div class="panel panel-primary">
                <div class="panel-heading">
                    Student List
                    <a href="/student-list/add" class="btn btn-primary btn-sm pull-right">
                        <i class="glyphicon glyphicon-plus"></i>
                        Added Students
                    </a>
                </div>
                  <table class="table">
                    <% if(student.length> 0){ %> 
                      <% for(let students of student) { %> 
                    <tr>
                      <td class="middle">
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="https://4.bp.blogspot.com/-_k5EbzYYHA0/WFgNnIW6cwI/AAAAAAAAAFM/wPuFPnRyQWsk3eArp0MksAdWh3Ev1oYNACLcB/s1600/universitas%2Bpakuan.png" height="100px" width="100px" alt="...">
                            </a>
                          </div>
                          <div class="media-body">
                            <address>
                                <b>Name Student</b>          :  <%= students.name %> <br>
                                <b>Gender</b>                : <%= students.gender %> <br>
                                <b> Address </b>             : <%= students.Address  %> <br>
                                <b> Class </b>               : <%= students.classs %> <br>
                                <b> Nik </b>                 : <%= students.nik %> 
                            </address>
                          </div>
                        </div>
                      </td>
                      <td width="100" class="middle">
                        <div>
                          <a href="/student-list/<%= students.id %>?edit=true " class="btn btn-circle btn-default btn-xs" title="Edit">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="#" class="btn btn-circle btn-danger btn-xs" title="Hapus">
                          <i class="fas fa-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    <% } %> 
                    <% } %> 
                  </table>
               </div>
<%- include('../includes/footer.ejs') %>